/* .react-tel-input .form-control {
  width: 100% !important;
  height: unset !important;
  padding-left: 45px !important;
}

.react-tel-input .flag-dropdown {
  left: 0px;
}

.react-tel-input .selected-flag,
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus,
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: transparent !important;
  border: 0 !important;
  padding: 0 0 0 10px !important;
}
.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown:focus {
  position: initial !important;
  width: 55px !important;
  padding: 0 0 0 0px !important;
  border: 1px solid #f2dfba !important;
  border-radius: 0.75rem;
  background-color: #fdfdfd !important;
}
.septateBoxes.react-tel-input {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  grid-gap: 10px;
}

.inputImg.mobileInput {
  left: 64px !important;
}
.countryCodeFlag {
  position: absolute;
  left: 35px;
  top: 7px;
  font-size: 17px;
}
.booking .react-tel-input .flag-dropdown,
.booking .react-tel-input .flag-dropdown:hover,
.booking .react-tel-input .flag-dropdown:focus {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
} */
