.react-tel-input {
    font-family: inherit !important;
    position: relative !important;
    background: #fdfdfd !important;
    border: 1px solid #f2dfba !important;
    border-radius: 12px !important;
    height: 3.5rem !important;
    transition: all 0.2s ease-in-out !important;
    width: 100% !important;
}

.react-tel-input:focus-within {
    border-color: #a797cc !important;
    box-shadow: 0 0 0 2px rgba(244, 124, 12, 0.1) !important;
}

.react-tel-input .form-control {
    width: 100% !important;
    height: 56px !important;
    border-radius: 12px !important;
    border: 1px solid #f2dfba !important;
    background: #fdfdfd !important;
    text-align: end !important;
    padding-right: 48px !important;
    padding-left: 12px !important;
    font-size: 16px !important;
    font-family: inherit !important;
    color: black !important;
    outline: none !important;
    direction: ltr !important;
}

.react-tel-input .flag-dropdown {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    border: none !important;
    background: transparent !important;
    border-radius: 12px 0 0 12px !important;
    right: 0 !important;
    left: auto !important;
}

.react-tel-input .selected-flag {
    width: 60px !important;
    height: 100% !important;
    padding: 0 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
    border-radius: 12px 0 0 12px !important;
    right: 0 !important;
    left: auto !important;
    background: transparent !important;
}

.react-tel-input .selected-flag .flag {
    display: none !important;
}

.react-tel-input .selected-flag .arrow {
    display: none !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
    background-color: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background: transparent !important;
    border-radius: 3px 0 0 0;
}

.react-tel-input .country-list {
    position: absolute !important;
    top: calc(100% + 8px) !important;
    margin: 10px 0 10px -1px;
    right: 0 !important;
    left: auto !important;
    border-radius: 12px !important;
    border: 1px solid #f2dfba !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    background-color: white !important;
    width: 300px !important;
    max-height: 250px !important;
    overflow-y: auto !important;
    z-index: 99999 !important;
    text-align: left !important;
}

.react-tel-input .country-list .search {
    position: sticky !important;
    top: 0 !important;
    padding: 10px 0px 10px 10px;
    position: relative;
    margin: 0 !important;
    background: white !important;
    border-bottom: 1px solid #f2dfba !important;
}

.react-tel-input .country-list .search-box {
    width: 100% !important;
    border: 1px solid #e5e7eb;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    color: #374151;
    outline: none !important;
}

.react-tel-input .country-list .search-box:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 1px rgba(37, 99, 235, 0.2);
}

.react-tel-input .country-list .country {
    padding: 12px 9px !important;
    display: flex !important;
    align-items: center !important;
    text-align: right !important;
    direction: rtl !important;
}

.react-tel-input .country-list .country .flag {
    display: block !important;
    margin-right: 8px !important;
}

.react-tel-input .country-list .country:hover {
    background-color: rgba(243, 244, 246);
}

.react-tel-input .country-list .country.highlight {
    background-color: rgba(243, 244, 246);
}

.react-tel-input .country-list .divider {
    padding: 1px 0;
    background-color: #e5e7eb;
}

.react-tel-input .country-list .no-entries-message {
    padding: 10px;
    color: #4b5563;
}

.react-tel-input .flag {
    width: 16px !important;
    height: 12px !important;
}

.react-tel-input .arrow {
    left: 6px !important;
    right: auto !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-top: 4px solid #555 !important;
}

.react-tel-input .country-list .country-name {
    margin-right: 6px !important;
    margin-left: auto !important;
}

.react-tel-input .country-list .dial-code {
    margin-right: auto !important;
    margin-left: 6px !important;
    color: #6b7280;
}

.react-tel-input .special-label {
    display: none !important;
}

.septateBoxes.react-tel-input {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    grid-gap: 10px;
}

.inputImg.mobileInput {
    left: 64px !important;
}

.countryCodeFlag {
    position: absolute;
    left: 35px;
    top: 7px;
    font-size: 17px;
}

.booking .react-tel-input .flag-dropdown,
.booking .react-tel-input .flag-dropdown:hover,
.booking .react-tel-input .flag-dropdown:focus {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
}
